@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
.blog-section a{
    text-decoration: none;
}
.blog-section h3{
    text-decoration: none;
    color: #000;
}

.blog-section h3:hover {
    color: #0a58ca;
}

.blog-section{
    --bs-bg-opacity: 1;
    background-color: rgba( 248, 249, 250, var(--bs-bg-opacity)) !important;
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}

.blog-cont{
    width: 100%;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto;
}

.blog-row{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1* var(--bs-gutter-y));
    margin-right: calc(-.5* var(--bs-gutter-x));
    margin-left: calc(-.5* var(--bs-gutter-x));
}

.blog-row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
    margin-top: var(--bs-gutter-y);
}

.align-item{
    align-items: center !important;
}

.blog-cont h2{
    font-size: 2.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: .5rem;
    line-height: 1.2;
}

.heading-left .orange-color {
    color: #FD695A;
}

.blog-cont h3{
    font-size: 1.45rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: .5rem;
    line-height: 1.2;
}

.para-right p {
    line-height: 23px;
    margin-top: 0;
    margin-bottom: 1rem;
}

.blog-section .blog-cont .mt-5 {
    margin-top: 3rem !important;
}

.blog-img-holder{
    margin-bottom: 50px;
    margin-bottom: 3rem !important;
    position: relative !important;
}

.blog-section .blog-date {
    font-size: 14px;
    bottom: -20px;
    font-weight: 600;
    --bs-bg-opacity: 1;
    background-color: rgba(255, 255, 255, var(--bs-bg-opacity)) !important;
    padding-top: .5rem !important;
    padding-bottom: .5rem !important;
    padding-right: 1rem !important;
    padding-left: 1rem !important;
    margin-left: 1rem !important;
    display: inline-flex !important;
    align-items: center !important;
    justify-content: center !important;
    left: 0 !important;
    position: absolute !important;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

.blog-top{
    padding-bottom: 1rem !important;
    margin-bottom: 1.5rem !important;
    align-items: center !important;
}

.blog-top .blog-top-img-holder{
    margin-bottom: 1rem !important;
    flex-shrink: 0 !important;
}

.blog .blog-img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.blog .blog-top-content{
    flex-grow: 1 !important;
}

.blog-top-content .date-blog{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: .25rem !important;
    display: block !important;
}


.blog .blog-bottom{
    align-items: center !important;
}

.btn-cont{
    padding-top: 1.5rem !important;
    display: flex !important;
}


























/* media queries====================================================================== */

@media (min-width: 768px) {
    .heading-left {
        flex: 0 0 auto;
        width: 41.66666667%;
    }

    .para-right {
        flex: 0 0 auto;
        width: 58.33333333%;
    }

    .blog {
        flex: 0 0 auto;
        width: 50%;
    }
}


@media (min-width: 992px) {
    .blog-top,
    .blog .blog-bottom {
        display: flex !important;
    }

    .blog-top .blog-top-img-holder {
        margin-bottom: 0 !important;
    }

    .blog .blog-top-content {
        margin-left: 1rem !important;
    }
}



@media (min-width: 1200px) {
    .blog-cont {
        max-width: 1140px;
    }

    .blog-cont h2 {
        font-size: 2rem;
    }

    /* .blog-cont h3 {
        font-size: 1.75rem;
    } */
}