@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins regular", sans-serif;
}

html {
    scroll-behavior: smooth;
}

.readone-sect {
    background: url(../assets/guestreadonecircle.svg) no-repeat right -30% center / auto 60%;
    position: relative;
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}

.readone-sect:after {
    background: url(../assets/guestreadonepatternbg.png) no-repeat;
    background-size: contain;
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -9;
    opacity: .7;
}

.readone-pt-5 {
    padding-top: 3rem !important;
}

.readone-cont {
    width: 100%;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto;
}

.readone-row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1* var(--bs-gutter-y));
    margin-right: calc(-.5* var(--bs-gutter-x));
    margin-left: calc(-.5* var(--bs-gutter-x));
}

.readone-row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
    margin-top: var(--bs-gutter-y);
}

.readone-sect h2 {
    font-size: 2.5rem !important;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: .5rem;
    line-height: 1.2;
}

.readone-sect h4 {
    font-size: 1rem !important;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: .5rem;
    line-height: 1.2;
}

.readone-card {
    margin: 0px 5px 30px !important;
    border-radius: .875rem !important;
    --bs-bg-opacity: 1;
    background-color: rgba(255, 255, 255, var(--bs-bg-opacity)) !important;
    padding: 1.5rem !important;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

.readone-sect h3{
    font-size: 2.2rem !important;
    color: #0fcc7c;
    margin-bottom: 1.5rem !important;
    border-color: #fff !important;
    border-bottom: 1px solid #dee2e6 !important;
    display: inline-block !important;    
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: .5rem;
    line-height: 1.2;
}

.readone-sect .readone-card:hover h3:not(.active),
.readone-sect .readone-card:hover i:not(.active),
.readone-sect .readone-card:hover p:not(.active){
    color: #fff;
}

/* .readone-sect .readone-card:hover > h3 + i + p + li{
    color: #fff;
} */

.readone-sect p{
    line-height: 23px;
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: "Poppins regular", sans-serif;
    font-size: 0.95rem;
}

.readone-card:hover {
    background: #0fcc7c !important;
    color: #fff;
    /* color: #fff; */
}

.readone-card.active,
.readone-card.active h3,
.readone-card.active i{
    background: #0fcc7c !important;
    color: #fff;
}


.readone-theme-color{
    color: #0fcc7c;
}























/* media queries ====================================== */
@media (max-width: 640px) and (min-width: 320px) {
    .readone-sect h3 {
        font-size: 1.7rem !important;
    }
}

@media (min-width: 768px) {
    .readone-bottom-col {
        flex: 0 0 auto;
        width: 50%;
    }

    .readone-bt-md-4{
        padding-top: 1.5rem !important;
    }
}


@media (min-width: 992px) {
    .readone-mt-lg-5 {
        margin-top: 3rem !important;
    }
}

@media (min-width: 1200px) {
    .readone-cont {
        padding-right: 3rem !important;
        padding-left: 3rem !important;
        max-width: 1140px;
    }

    .readone-px-xl-4 {
        padding-right: 1.5rem !important;
        padding-left: 1.5rem !important;
    }

    .readone-top-col-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }

    .readone-sect h2 {
        font-size: 2rem;
    }

    .readone-top-col-9 {
        flex: 0 0 auto;
        width: 75%;
    }

    .readone-sect h4 {
        font-size: 1.5rem;
    }

    .readone-px-xl-4 {
        padding-right: 1.5rem !important;
        padding-left: 1.5rem !important;
    }

    .readone-card {
        padding-top: 3rem !important;
        padding-right: 3rem !important;
        padding-left: 3rem !important;
    }
    .readone-sect h3 {
        font-size: 1.75rem;
    }

}