@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins regular", sans-serif;
}

html {
    scroll-behavior: smooth;
}

.avail-sect a{
    text-decoration: none;
}

.avail-sect {
    background: url(../assets/guestavailbg.png) no-repeat right -300px top / auto 150%;
    position: relative;
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
    position: relative !important;
}

.avail-cont{
    text-align: center !important;
    position: relative !important;
    width: 100%;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto;
}

.avail-sect h2{
    font-size: 2.5rem !important;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: .5rem;
    line-height: 1.2;
}

.avail-sect h3{
    font-size: 1.45rem !important;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: .5rem;
    line-height: 1.2;
}

.avail-row{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1* var(--bs-gutter-y));
    margin-right: calc(-.5* var(--bs-gutter-x));
    margin-left: calc(-.5* var(--bs-gutter-x));
}

.avail-row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
    margin-top: var(--bs-gutter-y);
}

.avail-start {
    text-align: left !important;
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}


.avail-col{
    border-right: 1px solid #EAE8E8;
    border-bottom: 1px solid #EAE8E8;
    flex: 0 0 auto;
    width: 100%;
}

.avail-card{
    padding: 20px 20px;
    height: 100% !important;
}

.avail-dflex{
    align-items: center !important;
    display: flex !important;
}

.avail-sect img{
    width: 55px;
    margin-top: -40px;
    margin-right: 1rem !important;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}


.avail-sect p {
    font-weight: 400;
    line-height: 23px;
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: "Poppins regular", sans-serif;
    font-size: 0.95rem;
}

.avail-col:nth-child(3), .avail-col:nth-child(6) {
    border-right: 0px solid #EAE8E8;
}

.avail-col:nth-child(4), .avail-col:nth-child(5), .avail-col:nth-child(6) {
    border-bottom: 0px solid #EAE8E8;
}


.avail-mb-4{
    margin-bottom: 1.5rem !important
}

.avail-pt-0{
    padding-top: 0 !important;
}






















/* media queries=============================== */

@media (min-width: 768px) {
    .avail-col {
        flex: 0 0 auto;
        width: 33.33333333%;
    }
}

@media (min-width: 1200px) {
    .avail-cont {
        max-width: 1140px;
    }

    .avail-sect h2{
            font-size: 2rem;
    }

    .avail-sect h3 {
        font-size: 1.75rem;
    }
}