@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins regular", sans-serif;
}

html {
    scroll-behavior: smooth;
}

.entitled-sect {
    background: #0fcc7c;
    --bs-text-opacity: 1;
    color: rgba(255, 255, 255, var(--bs-text-opacity)) !important;
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}

.entitled-cont {
    width: 100%;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto;
}

.entitled-h2 {
    text-align: center !important;
}

.entitled-sect h2 {
    font-size: 2.5rem !important;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: .5rem;
    line-height: 1.2;
}

.entitled-sect p {
    line-height: 23px;
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: "Poppins regular", sans-serif;
    font-size: 0.95rem;
}

.entitled-mt{
    margin-top: 1.5rem !important;
}


.entitled-row{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1* var(--bs-gutter-y));
    margin-right: calc(-.5* var(--bs-gutter-x));
    margin-left: calc(-.5* var(--bs-gutter-x));
}

.entitled-row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
    margin-top: var(--bs-gutter-y);
}

.entitled-col{
    margin-right: auto !important;
    margin-left: auto !important;
}

.entitled-align {
    align-items: center !important;
}

.entitled-end {
    text-align: right !important;
}

.entitled-box{
    margin-bottom: 3rem !important;
    align-items: center !important;
    display: flex !important;
}

.entitled-img1{
    margin-right: 1.5rem !important;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.entitled-sect h3 {
    font-size: 1.125rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: .5rem;
    line-height: 1.2;
}

.entitled-fluidimg {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.entitled-img2{
    margin-right: 1.5rem !important;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}








/* media queries=============================== */

@media (min-width: 768px) {
    .entitled-box-col {
        flex: 0 0 auto;
        width: 33.33333333%;
    }

    .entitled-img1{
        margin-left: 1.5rem !important;
        margin-right: 0 !important;
        order: 2 !important;
    }
}

@media (min-width: 1200px) {
    .entitled-cont {
        max-width: 1140px;
    }

    .entitled-sect h2 {
        font-size: 2rem;
    }

    .entitled-mt {
        margin-top: 3rem !important;
    }

    .entitled-col {
        flex: 0 0 auto;
        width: 83.33333333%;
    }

    .entitled-box {
        padding-top: 1.5rem !important;
    }
}